<div id="readings">
  <h3>:: next reading</h3>
  <% if next_reading.blank? %>
    <p>the next reading group is currently scheduled for 2022</p>
  <% else %>
    <% next_reading.each do |reading| %>
      <div class="next_reading">
        <p>"<%= reading.title %>" by <%= reading.author %>, on <%= reading.meeting_date.strftime('%d/%m/%y') %></p>
    <% end %>
  <% end %>
</div>
<br>
<div class="past_reading">
  <h3>:: past readings</h3>
  <% if past_reading.blank? %>
    <p>Looks like we haven't read anything yet</p>
  <% else %>
    <% past_reading.each do |reading| %>
      <div>
        <p>"<%= reading.title %>" by <%= reading.author %>, on <%= reading.meeting_date.strftime('%d/%m/%y') %></p>
        <a href="<%= reading.url %>">link</a>
      </div>
    <% end %>
  <% end %>
</div>
